<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faperta</title>
</head>
<body>
    
      <nav>
    
        </div> 
        <ul>
            <li><a href="/profil">PROFIL</a></li>
          <li><a href="/beranda">BERANDA</a></li>
          <li><a href="/materi">MATERI</a></li>
          <li><a href="/contoh">CONTOH</a></li>
          <li><a href="/latihan">LATIHAN</a></li>
          <li><a href="/kegiatan">KEGIATAN</a></li>
        </ul>
      </nav>
  
  </body>
<body>
    <br>
    <br>
    <br>
    <center>
    <h1>PELUANG</h1>
    <img src="\static\img\peluang.webp" height="250px">
    </center>
    <br>
  <center>
    <h3>DEFINISI PELUANG</h3>
    <p>Peluang pada umumnya berarti kesempatan, namun pada matematika, peluang atau probabilitas adalah kemungkinan yang mungkin terjadi/muncul dari suatu peristiwa.
        Terkadang kita mengukur sebuah peluang dengan angka, seperti “kemungkinannya sekitar 10%”, atau dengan perkataan, seperti, “ah itu tidak mungkin” atau “itu sudah pasti terjadi”.
        Dalam angka, peluang selalu berkisar antara 0 sampai dengan 1. Dimana 0 menyatakan sebuah kejadian yang tidak mungkin terjadi dan 1 menyatakan sebuah kejadian yang pasti terjadi, dalam matematika hal ini dinotasikan sebagai
        </p>
        <img src="\static\img\definisi.jpg" height="50px">
        </center>
        <hr>
        <br>
        <br>
        <center>
            <h3>ISTILAH-ISTILAH</h3>
            <p>Di dalam materi peluang, ada beberapa istilah yang sering digunakan, diantaranya </p>
                <li>Ruang sampel : Himpunan dari semua hasil percobaan yang mungkin terjadi</li>
                <li>Titik sampel : Anggota dari ruang sampel</li>
                <li>Kejadian : Himpunan bagian dari ruang sampel</li>
                <hr>
                <br>
                <br>
                </center>
            <center>
                    <h3>RUMUS</h3>
                    <p>Sebelum membahas rumus peluang, terlebih dahulu kita akan membahas mengenai frekuensi relatif.
                        Frekuensi relatif adalah perbandingan dari banyak percobaan yang dilakukan dengan banyaknya kejadian yang diamati. </p>
                     <P>Frekuensi relatif dapat dicari dengan menggunakan rumus</P>                    </P>
                        <img src="\static\img\rumus.jpg" height="50px">
                        <p>Apabila peluang dari setiap titik sampel dari anggota ruang sampel S sama, maka peluang kejadian K yang jumlah anggotanya ditulis sebagai n(K) dapat dicari dengan rumus</p>
                        <img src="\static\img\rumus1.jpg" height="50px">
                    </center>
                        <hr>
                        <br>
                        <br>
                        <center>
                            <h3>KEJADIAN MAJEMUK</h3>
                            <p> Kejadian majemuk adalah kejadian baru yang terbentuk dari perlakuan pada dua atau lebih kejadian.</p>
                            </center>
                                <hr>
                                <br>
                                <br>
                         <center>
                            <h3>KEJADIAN KOMPLEMEN</h3>
                            <p> Kejadian K komplemen adalah semua kejadian yang bukan kejadian K. Suatu kejadian K dan kejadian K komplemen (yang dinyatakan K’) memenuhi
                            </p>
                            <p>P(K) + P(K’) = 1 atau P(K’) = 1 – P(K) </p>
                             </center>
                                 <hr>
                                <br>
                                <br>
                                <center>
                                    <h3>KEJADIAN SALING LEPAS</h3>
                                    <p> Terdapat dua buah kejadian A dan B yang kemudian disebut kejadian saling lepas jika tidak ada elemen pada kejadian A yang sama dengan elemen yang terdapat pada kejadian B.</p>
                                    <p>Peluang salah satu A atau B mungkin terjadi dengan A dan B adalah kejadian saling lepas, rumusnya adalah </p>
                                    <p>P(A Ս B) = P(A) + P (B) </p>
                                     </center>
                                         <hr>
                                        <br>
                                        <br>
                                        <center>
                                            <h3>KEJADIAN TIDAK SALING LEPAS</h3>
                                            <p> Dua buah kejadian A dan B disebut tidak saling lepas jika terdapat minimal satu elemen pada kejadian A yang sama dengan elemen yang terdapat pada kejadian B. Peluang salah satu A atau B mungkin terjadi dengan A dan B adalah kejadian tidak saling lepas, rumusnya adalah</p>
                                            <p>P(A Ս B) = P(A) + P (B) – P(A Ո B)</p>
                                            <p>Dimana P(A Ո B) menyatakan elemen yang terdapat pada kejadian A dan B</p>
                                             </center>
                                                 <hr>
                                                <br>
                                                <br>
                                                <center>
                                                    <h3>KEJADIAN SALING BEBAS</h3>
                                                    <p> Dua buah kejadian A dan B dikatakan saling bebas jika munculnya kejadian A tidak mempengaruhi kejadian B. Peluang kejadian A dan B terjadi bersama sama adalaH </p>
                                                    <p>P(A Ո B) = P(A) × P(B)</p>
                                                     </center>
                                                         <hr>
                                                        <br>
                                                        <br>
                                                        <center>
                                                            <h3>KEJADIAN BERSYARAT</h3>
                                                            <p> Jika terdapat dua kejadian yaitu kejadian A dan kejadian B, kejadian tersebut dikatakan kejadian bersyarat jika kejadian A mempengaruhi terjadinya kejadian B atau sebaliknya, kemudian dapat dituliskan sebagai berikut ini</p>
                                                            <p>P(A Ո B) = P(A) × P(B|A)</p>
                                                            <p>atau</p>
                                                            <p>P(A Ո B) = P(B) × P(A|B) </p>
                                                             </center>
                                                                 <hr>
                                                                <br>
                                                                <br>
        

        




    
</body>
</html>

<style>
    body {
  background-image: linear-gradient(to right, #DFD3C3, #7D6E83);
  margin-left: 40px;
  margin-right: 40px;
  padding: 0;
  
  }
  
  nav {
      top: 0;
      left: 0;
      position: fixed;
      height: 80px;
      width: 100%;
      box-sizing: border-box;
      background: rgba(0, 0, 0, 0.4);
      border-bottom: 1px solid white;
  }
  
  .logo {
      float: left;
      height: 100px;
      font-size: 36px;
      font-weight: bold;
      text-transform: uppercase;
      color: white;
      padding: 20px 20px;
      justify-content: space-around;
  }
  
  nav ul {
      margin: 0;
      padding: 0;
      float: right;
      list-style: none;
      display: flex;
  }
  
  nav ul li a {
      font-size: 13px;
      font-weight: bold;
      color: white;
      line-height: 80px;
      text-decoration: none;
      padding: 12px 20px;
  }
  
  nav ul li a:hover {
      border-radius: 10px;
      background: rgba(0, 0, 0, 0.8);
  }
  </style>